#!/usr/bin/make -f

export DH_VERBOSE = 1

include /usr/share/dpkg/default.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_VERSION_UPSTREAM

AMNEZIAWG_ARGS = V=1

%:
	dh $@ --with dkms

override_dh_auto_install:
	$(MAKE) -C src DESTDIR=`pwd`/debian/amneziawg-dkms DKMSDIR=/usr/src/amneziawg-$(DEB_VERSION_UPSTREAM) dkms-install

override_dh_dkms:
	dh_dkms -p amneziawg-dkms -- src/dkms.conf
